[submodule "b_longest_uncommon_prefix"]
	path = b_longest_uncommon_prefix
	url = git@github.com:tamanishi/b_longest_uncommon_prefix.git
[submodule "c_abc285_brutmhyhiizp"]
	path = c_abc285_brutmhyhiizp
	url = git@github.com:tamanishi/c_abc285_brutmhyhiizp.git
[submodule "d_change_usernames"]
	path = d_change_usernames
	url = git@github.com:tamanishi/d_change_usernames.git
[submodule "a_edge_checker_2"]
	path = a_edge_checker_2
	url = git@github.com:tamanishi/a_edge_checker_2.git
